.content {
    display: flex;
    min-height: 100vh;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: rgb(230, 230, 230);
}
.back-btn{
    position: absolute;
    top: 8%;
    left: 5.5%;
}  
.back-btn img{
    width: 80%;
}
.left-side {    
    flex: 2; 
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    margin-top: 50px; 
}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 70px 0 70px 0;
    align-items: center;
}

.form__email{
    align-self: center;
}
.form__password{
    align-self: center;
    padding-top: 50px;
}
.form__password-show{
    position: absolute;   
    opacity: 0.5;
    bottom: 54%;
    right: 8%;
}
.form__password-show img{
    max-width: 23px;
    transition: all ease 0.15s;
}
.form__password img:hover{
    cursor: pointer;
}
.form__submit{
    padding-top: 50px;
}
.btn{
    width: 315px;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: #221f1fe3;    
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    opacity: 0.9;
    transition: all ease 0.2s;
}
input{
    width: 300px;
    border-radius: 20px;
    height: 45px;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 15px;
    border: none;
    background-color: rgba(0, 140, 215, 0.138);
    
}
label{
    font-weight: bold;
    margin-left: 2%;
    letter-spacing: 0.2px;
}

h2{
    font-size: 50px;
    font-weight: bold;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.form__social{
    width: 95%;
    align-self: center;
    margin-top: 5%;
}

.form__social__title{
    color: #828282;
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.line{
    position: absolute;
    border: 1px solid #ff0000;
    width: 100%;
    top: calc(50% + 3px);
    transform: translateY(-50%);
}
.title{
    position: relative;
    padding-left: 13px;
    padding-right: 13px;
    background-color: rgb(230, 230, 230);
    font-size: 17px;   
    color: black;
}

.form__social__button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}

.sign-btn{
    width: 270px;
    height: 45px;    
    border-radius: 20px;
    font-size: 17px;
    color: black;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 140, 215, 0.2);
}

.sign-btn:hover{
    background-color: rgba(0, 140, 215, 0.4);
    transition: all ease 0.2s;
}
.sign-btn-ico{
    position: relative;
    max-width: 5%;
    padding-right: 15px;
    padding-top: 3px;
}

.right-side {
    flex: 1;
    background-color: #221f1fe9;
    border-top-left-radius: 50px;
    display: flex;
    align-items: center;
    
}
.right-side img{
    position: absolute;
    width: 300px;
    right: 22%;
}

@media (max-width: 1049px){
    .right-side{
        display: none;
    }
    .left-side{
        padding-top: 100px;
    }
    .back-btn{
        top: 4%;
    }
}