a {
    text-decoration: none;
    color: white;
}

.header {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 60px;
    background-color: #221f1f;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    letter-spacing: -.2px;
    line-height: 60px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    box-sizing: border-box;
}

.btn-menu {
    cursor: pointer;
    float: left;
}

.header-logo {
    margin-left: 25px;
}

.logo {
    height: 60px;
}

.header-login-ico {
    float: right;
    transition: all 1s;
    height: 30px;
    margin: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);
}

.header-login-text {
    float: right;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.header-login__image {
    width: 100%;
    padding-bottom: 7px;

}

.header-login-ico:hover {
    background-color: red;
}

body {
    background-color: #221f1f;
}

.content {
    padding-top: 60px;
}

.image-slider__image img {
    min-height: 92vh;
    width: 435px;
}

.image-slider__slide {
    -webkit-box-shadow: 0px 0px 15px 12px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 15px 12px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 15px 12px rgba(0, 0, 0, 0.53);
}

.swiper-button-prev,
.swiper-button-next {
    background-color: red;
    width: 5%;
    height: 10.5%;
    border-radius: 50%;
    border: solid 5px black;
    transition: all 0.25s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #fff;
    font-size: 43px;
    font-weight: bold;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    border: solid 5px white;
}

.slide-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, .75);
    opacity: 1;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    display: none;
    top:0%;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    transition: all 2s;
}
.swiper-slide:hover .slide-mask{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide:hover{
    animation-name: ani;
    animation-duration: 1.1s;
    animation-fill-mode: both;
}
.swiper-slide:hover .image-slider__image{
    filter: blur(4px);
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.slide-mask__play h3{
    color: white;
    font-size: 24px;
}
.slide-mask__play img{
    width: 7%;
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 20px;
    border-radius:10px;
}
.slide-mask__play img:hover{    
    width: 8%;
    transition: all ease-out 0.5s;
}
