body {
    font-family: 'Lato', sans-serif;
}

.film {
    display: flex;
    height: 170vh;
}

.film-poster {
    background-color: #221f1f;
    flex: 1;
}

.wrap-poster {
    position: sticky;
    top: 100px;
    z-index: 1;
}

.film-about {
    flex: 2;
    padding: 0 40px;
    margin-top: 50px;
}

.film-schedule {
    flex: 1;
    width: 350px;
    position: sticky;
    top: 100px;
    height: 230px;
    background-color: #2f2b2b;
    border-radius: 10px;
    z-index: 1;
    margin-right: 50px;
    overflow: auto;
}

.film-poster__image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.poster {
    width: 280px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.6);
}

.film-poster__trailer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.play-trailer {
    height: 55px;
    line-height: 56px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .15);
    color: #fff;
    font-weight: 700;
    padding-left: 7%;
    padding-right: 7%;
    cursor: pointer;
    transition: 0.3s;
}

.play-trailer::before {
    content: "";
    float: left;
    top: 17px;
    position: relative;
    border: 10px solid rgba(0, 0, 0, 0);
    border-left: 14px solid #fff;
    margin-right: 5px;
}

.play-trailer:hover {
    transition: all ease 0.3s;
    background-color: rgb(224, 27, 27);
}

.film-about h2 {
    font-size: 40px;
    line-height: 45px;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
}

.film-data {
    margin-bottom: 50px;
}

.film-data li {
    font-size: 16px;
    line-height: 20px;
    font-weight: 550;
    margin-bottom: 15px;
    overflow: hidden;
}

.film-data a:hover {
    color: red;
    transition: all ease 0.1s;
}

.film-data a {
    text-decoration-line: underline;
    transition: all ease 0.1s;
}

.key {
    float: left;
    width: 180px;
    color: #fff;
}

.val {
    color: rgba(255, 255, 255, .5);
    float: left;
    width: calc(100% - 180px);
}

.film-about__description {
    color: white;
}

.film-about__description h3 {
    font-size: 20px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: underline;
}

.film-about__description p {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
}

.film-others {
    color: white;
}

.film-others h3 {
    font-size: 20px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.film-others__posters {
    display: flex;
    justify-content: center;
}

@media (max-width: 1280px) {
    .film-others__posters {
        flex-wrap: wrap;
    }

    .film-others__poster {
        margin: 5%;
    }
}

.film-others__poster {
    margin-left: 3%;
    cursor: pointer;
}

.film-others__poster img {
    width: 150px;
    margin-bottom: 10px;
    height: 90%;
    border-radius: 15px;
}

.film-others__poster h4 {
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    transition: all ease 0.3s;
}

.film-others__poster:hover h4 {
    color: red;
    transition: all ease 0.3s;
}

.poster-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.film-schedule-title {
    padding: 25px;
    background-color: #3d3737;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.heading {
    font-size: 19px;
    font-weight: 600;
    color: #fff;

}

.film-schedule-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.time span {
    color: red;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    display: inline-block;
    letter-spacing: -1.5px;
}

.tag {
    top: 20px;
    letter-spacing: -1px;
    font-size: 9px;
    color: #fff;
    text-align: center;
}

.time-block {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
    margin: 20px;
    cursor: pointer;
}

@media (max-width: 1012px) {
    .film {
        display: block;
        height: 170vh;
    }
    .film-poster {
        background-color: #221f1f;    
    }
    .film-about h2 {
        text-align: center;
        font-size: 28px;
    }
    .film-schedule {
        margin: 0 auto;
    }
    .poster{
        width: 100%;
    }
    .content{
        padding-top: 10px;
    }
    .film-data li {
        font-size: 14px;
        line-height: 15px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .film-about__description p{
        text-align: justify;
    }
}